{% extends 'first_base_page.html'%}
{% load static %}
{% block title %} Инвесторы {% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid" style="width: 1400px; margin:auto; display: flex;
    justify-content: space-between;">
        
            <a class="navbar-brand" href="{% url 'base:start_page'%}">SOOP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="margin-left: auto;">
               
                <a class="nav-link" href="{% url 'investor:all_designers_in' %}">дизайнеры</a>
                <a class="nav-link active" aria-current="page">инвесторы</a>
                <a class="nav-link" href="{% url 'investor:main_page_investor'%}">мой профиль</a>
                <a class="nav-link" href="{% url 'investor:investor_edit'%}">редактировать</a>
                <a class="nav-link" href="{% url 'investor:help_page_inv'%}">помощь</a>
                <a class="nav-link" id="logoutLink" href="">выход</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid custom-container">
    <div class='col-lg-8'>
        <h1 class="acsent-red text" style="margin-top:50px;margin-bottom:40px">Инвесторы</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4" >
        {% for investor in investors %}
        <div class="col">
        <div class="card-custom-page-all" style="height:504px">
        {% if investor.photo_investor%}
            <img class="img-post-page-all" src="{{investor.photo_investor.url}}">
        {% else %}
            <img class="img-post-page-all" src='{% static "img/no_photo.jpg" %}'>
        {%endif%}
        <div class="post-name page-all">{{investor.surname}} {{investor.name}} {{investor.fathername}}</div>
        
        <a href="{% url 'investor:profile_inv_for_inv' investor.pk %}" style="text-decoration: none;"><button class="post-description page-all">перейти в профиль</button></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock%}