{% extends 'first_base_page.html'%}
{% load static %}
{% block title %} Ваш профиль {% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg " style="margin-bottom:25px">
    <div class="container-fluid" style="width: 1400px; margin:auto; display: flex;
    justify-content: space-between;">
            <a class="navbar-brand" href="{% url 'base:start_page'%}">SOOP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
                <div class="navbar-nav" style="margin-left: auto;">
                    <a class="nav-link" href="{% url 'investor:all_designers_in' %}">дизайнеры</a>
                    <a class="nav-link" href="{% url 'investor:all_investors_in' %}">инвесторы</a>
                    <a class="nav-link active" aria-current="page" >мой профиль</a>
                    <a class="nav-link" href="{% url 'investor:investor_edit'%}">редактировать</a>
                    <a class="nav-link" href="{% url 'investor:help_page_inv'%}">помощь</a>
                    <a class="nav-link" id="logoutLink" href="">выход</a>
                </div>
            </div>
    </div>
</nav>
<div class="modal modal-custom" id="confirmModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title modal-custom">Подтверждение выхода</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body quest">
          <p class="quest">Вы уверены, что хотите выйти?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="custom-ot" data-bs-dismiss="modal">Отмена</button>
          <a href="{% url 'investor:inv-logout'%}"><button type="button" class="custom-w">Да, выйти</button></a>
        </div>
      </div>
    </div>
  </div>
<div class="container-fluid custom-container">
    <div class="col=lg-4" style="width:454px; position: absolute;">
       <div class="photo-user" style="margin-bottom:5px;">
            {% if investor.photo_investor %}
            <img src="{{ investor.photo_investor.url }}" alt="[eqyz]">
            {%else%}
            <img src='{% static "img/no_photo.jpg" %}'>
            {%endif%}
        </div>
    </div>
    <div class=" splits-right">
        <div class="custom-menu">
            <button class="custom-menu-button" data-section="mainin">главная</button>
            <button class="custom-menu-button" data-section="requestin">отправленные предложения</button>
        </div>
        <div id="mainin-section" class="section">
            <h1 class=" name-profile" style="margin-bottom:30px">{{ investor.surname}} {{ investor.name}} {{ investor.fathername}}</h1>
            <h1 class="brand-h1-right">Об инвесторе</h1>
            <div style="margin-bottom:0px">
                <p class="left-text">{{investor.about_investor}}</p>
            </div>
            <h1 class="col-lg-9 brand-h1">Условия сотрудничества</h1>
            <div style="margin-bottom:30px;">
                <p class="right-text">{{investor.cooperation}}</p>
            </div>
            <h1 class="brand-h1-right">Сколько готов вложить</h1>
            <div style="margin-bottom:0px">
                <p class="left-text">{{investor.investment}}</p>
            </div>
        </div>
        <div id="requestin-section" class="section" style="display: none;">
          {% for offer in offers %}
          {% if offer.status == '0' %}
              <div class='container-offer' style='display:flex;'>
                  <div class='offer-img'>
                      
                          <img src='{% static "img/no_photo.jpg" %}'>
                     
                  </div>
                  <div class='offer-text-inf'>
                      <div style="width:100%; height:70px; border-bottom:2px solid black;
                      display: flex;align-items:center;">
                          <a href="{% url 'investor:profile_des_for_inv' pk_inv=offer.investor.pk designer_pk=offer.designer.pk %}"  style="text-decoration: none; color:black;"><h1 class="fio-offer">{{offer.designer.name_brang}} </h1></a>
                      </div>
                      <div style="width:595px; height:150px; border-bottom:2px solid black; overflow-x: hidden; overflow-y: auto;">
                          <p style="font-size: 15px; width:550px; height:100%; font-family: 'Geologica', sans-serif; text-align: left; margin-top: 25px;margin-left: 10px; margin-bottom: 25px;">{{offer.text_offer}}</p>
                      </div>
                      <div style="display:flex;">
                          <div style="width:298px;height:66px">
                              <button class='button-offer-not-interest' data-offer-id="{{ offer.id }}">отменить </button>
                          </div>
                          <div style="width:298px;height:66px">
                              <p class='button-offer'  >ожидается ответ</p>
                          </div>
                      </div>
                  </div>
              </div>
          {% endif %}
          {% if offer.status == '1' %}
              <div class='container-offer' style='display:flex;'>
                  <div class='offer-img'>
                      
                          <img src='{% static "img/no_photo.jpg" %}'>
                     
                  </div>
                  <div class='offer-text-inf'>
                      <div style="width:100%; height:70px; border-bottom:2px solid black;
                      display: flex;align-items:center;">
                          <a href="{% url 'investor:profile_des_for_inv' pk_inv=offer.investor.pk designer_pk=offer.designer.pk %}"  style="text-decoration: none; color:black;"><h1 class="fio-offer">{{offer.designer.name_brang}} </h1></a>
                      </div>
                      <div style="width:595px; height:150px; border-bottom:2px solid black; overflow-x: hidden; overflow-y: auto;">
                          <p style="font-size: 15px; width:550px; height:100%; font-family: 'Geologica', sans-serif; text-align: left; margin-top: 25px;margin-left: 10px; margin-bottom: 25px;">{{offer.text_offer}}</p>
                      </div>
                      <div style="display:flex;">
                          <div style="width:298px;height:66px">
                              <button class='button-offer-not-interest' data-offer-id="{{ offer.id }}">отменить </button>
                          </div>
                          <div style="width:298px;height:66px">
                            <a href="{% url 'investor:contact_designer' offer.designer.pk %}" style="text-decoration: none; color:black;"><button class='button-offer' style="background-color:black; color:#FF393B; width:298px;">связаться</button></a>
                          </div>
                      </div>
                  </div>
              </div>
          {% endif %}
        
{%endfor%}
</div>
<script>
  $(document).ready(function(){
    $('.button-offer-not-interest').click(function(){
        var offer_id = $(this).data('offer-id');
        $.ajax({
            url: '/investor/delete_offer/' + offer_id + '/',
            type: 'GET',
            success: function(data){
                location.reload();
            }
        });
    });
    $('.button-offer').click(function(){
      var offer_id = $(this).data('offer-id');
      $.ajax({
          url: '/accept_offer/' + offer_id + '/',
          type: 'GET',
          success: function(data){
              location.reload();
          }
      });
  });
});
</script>
{%endblock %}